@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'sfprodisplay';
    src: url('/fonts/sfprodisplay.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'sfprodisplay', sans-serif;
}
